# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# imagens
/public/images/jobs_cover/habito-saudavel-cavaletes-e-fachada.jpg
/public/images/jobs_cover/habito-saudavel-posts.jpg
/public/images/jobs_cover/haja-luz-folder.jpg
/public/images/jobs_cover/image.jpg
/public/images/jobs_cover/template_fandom.psd
/public/images/jobs_cover/haja-luz-video-animado.psd

/posts_to_make

/.vscode

next.config.js.backup